{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un véhicule</h1>
<div class="w-25 mx-auto">
    {{ include('vehicule/_form.html.twig') }}
    <div class="text-center">
    <a class="btn btn-primary" href="{{ path('vehicule_index') }}">Retour à la liste</a>
    </div>
    </div>
{% endblock %}
